.weather__primary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.primary__form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search-icon {
  font-size: 2rem;
}
.location-input {
  width: 20ch;
  font-size: 0.8rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  padding: 0 0 0.1rem 0.3rem;
}
.location-input::placeholder {
  color: #eee;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.conditions {
  font-size: 2rem;
  white-space: break-spaces;
}
.location {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.date {
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
.temperature {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1rem;
}
.units {
  font-size: 0.6rem;
  margin-top: 0.2rem;
  cursor: pointer;
}
.primary__icon {
  font-size: 4rem;
  filter: grayscale(1) brightness(3);
}
