.weather__secondary {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.secondary {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
}
.secondary__icon {
  grid-column: 1;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: end;
  font-size: 1.5rem;
  margin-right: 0.8rem;
}
.secondary__caption {
  grid-column: 2;
  grid-row: 1;
  font-size: 0.6rem;
}
.secondary__value {
  grid-column: 2;
  grid-row: 2;
  font-size: 1.2rem;
}
.am-pm {
  font-size: 0.5em;
}
